<configuration>

    <!-- Set the default logging level for all loggers to INFO -->
    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Log levels for specific packages or classes -->
    <logger name="org.example.PinMachineActivator" level="info"/>

</configuration>